name: "Create Pull Request via GitHub CLI"

on:
  workflow_dispatch:

jobs:
  create-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          repository: eclipse-cbi/eclipse-cbi-publish-test

      - name: Configure Git user
        run: |
          git config --global user.name "Eclipse CBI Bot"
          git config --global user.email "cbi-bot@eclipse.org"
        shell: bash

      - name: Update file
        run: echo "Updated at $(date -u --rfc-3339=ns)" > gh-update.txt
        shell: bash

      - name: Commit and push
        id: push
        run: |
          branch="gh/update-$(date +%s)"
          git checkout -b "$branch"
          git add gh-update.txt
          git commit -m "chore: update file"
          echo "Pushing branch: $branch"
          git push origin "$branch"
          echo "branch=$branch" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Open pull request using gh CLI
        run: |
          gh pr create \
            --title "chore: update via gh cli" \
            --body "This PR was created using the GitHub CLI." \
            --base main \
            --head $(git rev-parse --abbrev-ref HEAD)
        env:
          GH_TOKEN: ${{ secrets.HD6226_TOKEN }}
          #GH_TOKEN: ${{ github.token }}
          #GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
